@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */
html{

}
#chat{
    border: 2px solid #dedede;
    background-color: #f8f7f7;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.listeMessages{
    size: 80%;
    border: 2px solid #dedede;
}
.messagesInt {
    position: relative;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    float: left;
    margin: 5px;

;
}

.messagesExt {
    position: relative;
    border: 2px solid #dedede;
    background-color: #d4d3d3;
    border-radius: 5px;
    padding: 10px;
    float: right;

    /*position: fixed;*/

    left:10px;



 
    
    margin: 5px;
}

/*
#formPseudo{
    position:absolute;
    top:10%;
    left:50%;
    width:300px; 

    margin-left:-150px;

}

#fenetreGenerale{
    position:absolute;
    top:20%;
    left:50%;
    width:800; 
    
    margin-left:-400px; 
    
    border-style: solid;
}

#chat{
    position:relative;
    top:30%;
    left:0%;
    width:700px; 
    border-style: solid;
}

#IDext{
    font-size: 1em;
    position:relative;
    width:500 px;
    left:100%;
    margin-top: 5px;
    text-align: right;
    background: rgb(120, 157, 199);
    border-radius: 5px;

}

#IDint{
    font-size: 1em;
    position:relative;
    width:auto;
    margin-top: 5px;
    text-align: left;
    background: rgb(118, 216, 118);
    border-radius: 5px;
}

#SaisieMessages{
    position:relative;
}
*/



