<html lang="fr">
<script src="app.component.ts"></script>

<head>

    <meta charset="UTF-8">
    <title>Live Chat</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

</head>

<body>
    <!-- mon formulaire de pseudo-->
    <form id="formPseudo">
        <input name="pseudo" type="text" [(ngModel)]="pseudo" placeholder="votre pseudo" required maxlength="12"
            autofocus>
        <input type="submit" placeholder="envoyer">
    </form>

    <!--la fenetre de tchat générale-->

    <div id="fenetreGenerale">
        <header>
            <h4>Canal public</h4>
        </header>

    <!-- Le tchat en lui-meme-->
        <div id="chat" class="chat">
            <div id="ListeMessages" class="listeMessages">
                <h5>salon #1</h5>

                <tr  *ngFor="let message of serverMessages">
                    <td id="IDext" class ="messagesExt"  *ngIf="message.pseudo != pseudo">
                        {{ message.pseudo }} : {{ message.message }}
                    </td>
                    
                    <td id="IDint" class="messagesInt" *ngIf="message.pseudo == pseudo">
                        Vous : {{ message.message }}
                    </td>
                </tr>
                </div>

            <form id="SaisieMessages" action="#" method="post" (submit)="_send()">
                    <input name="input" type="text" [(ngModel)]="userInput" placeholder="votre message" autofocus>
                    <button type="submit">envoyer</button>
            </form>
        </div> <!-- end chat -->
    </div> <!-- end live-chat -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
</body>

</html>